<!--------------BINDINGS-------------------------------->

 <!-- <app-bindings (childComponentInfo)="msg=$event" [fromParent]="parentMsg"></app-bindings>
<h5>{{msg}}</h5>  -->

<!---------------------ROUTING ------------------->


 <!-- <nav>
    <a routerLink="/student" routerLinkActive="active">Student List</a>
    <a routerLink="/course-list" routerLinkActive="active">Course List </a>
</nav>
<router-outlet></router-outlet>  -->

<!------------------------Template driven form---------->

 <!-- <app-template-driven-form></app-template-driven-form>  -->


 <!--------------------REACTIVE FORMS-------------->

      <!-- <app-reactive-forms></app-reactive-forms> -->

 <!------------------ANGULAR HTTP REQUEST------------->
 
      <!-- <app-http-curd></app-http-curd> -->

 <!--------------------- Spring Boot integration------->
<!-- <app-spring-integration></app-spring-integration> -->


<!--------------------@ConentChild and Conent Children-->
<app-parent></app-parent>