*{
    font-family: play;
}
.box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:800px;
    background:rgba(223,215,215,4);
    padding:40px;
    box-sizing: border-box;
    box-shadow:  0 15px 25px rgb(202, 174, 174);
}
.box h2{
    margin: 0 0 30px;
    padding:  0;
    color:#fff;
    text-align: center;
}
.box.inputBox{
    position: relative;

}
.box .box.inputBox input{
    width:100%;
    padding: 10px 0;
    font-size: 16px;
    color:#fff;
    font-weight:bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border:none;
    border-bottom: 1px solid #ffff;
    outline: none;
    background:transparent;
}
/* .box .inputBox label {
    position: absolute;
    top:0;
    left:0;
    padding: 10px 0;
    font-size: 16px;
    color:#fff;
    letter-spacing:1px;
    pointer-events: none;
    transition: 0.5s;

} */
.box .inputBox input:focus~label{
    top:-25px;
    left:0;
    font-weight: bold;
    font-size:14px;
    color:rgb(2,77,33)
}
.myValues{
    color:#fff;
    font-size:  16px;
    font-weight: bold;
}